{% block content %}

<div class="sidebar">
  <div class="sidebar-header">
    <a href="{% url 'home' %}" class="sidebar-logo">ucasports</a>
  </div>
  <!-- sidebar-header -->
  <div id="sidebarMenu" class="sidebar-body">
    <div class="nav-group show">
      <a href="#" class="nav-label">Dashboard</a>
      <ul class="nav nav-sidebar">
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link"
            ><i class="ri-suitcase-line"></i> <span>Dashboard</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{% url 'overview_competition' %}" class="nav-link"
            ><i class="ri-trophy-line"></i> <span>Overview Competition</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{% url 'calendar' %}" class="nav-link"
            ><i class="ri-calendar-line"></i> <span>Calendar</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{% url 'analytics' %}" class="nav-link"
            ><i class="ri-bar-chart-2-line"></i> <span>Analytics</span></a
          >
        </li>

      </ul>
    </div>

    <!-- nav-group -->
    <div class="nav-group show">
      <a href="#" class="nav-label">Profile & Support</a>
      <ul class="nav nav-sidebar">

        <li class="nav-item">
          <a href="{% url 'profile' %}#events" class="nav-link"
            ><i class="ri-profile-line"></i> <span>My Profile</span></a
          >
        </li>

        <li class="nav-item">
          <a href="{% url 'profile' %}#settings" class="nav-link"
            ><i class="ri-user-settings-line"></i> <span>Settings</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{% url 'profile' %}#support" class="nav-link"
            ><i class="ri-question-line"></i> <span>Support</span></a
          >
        </li>
      </ul>
    </div>


    <!-- nav-group -->
    <div class="nav-group show">
      <a href="#" class="nav-label">Settings (Admin)</a>
      <ul class="nav nav-sidebar">

        <li class="nav-item">
          <a href="{% url 'site_manager' %}" class="nav-link"
            ><i class="ri-settings-line"></i> <span>Site Manager</span></a
          >
        </li>

    </div>


  </div>
  <!-- sidebar-body -->
</div>
<!-- sidebar -->

{% endblock content %}
