{% extends 'base.html' %} 

{% block content %}


<body class="app-calendar">

  <!-- Sidebar -->
  {% include '_partials/sidebar.html'%}

  <!-- Header main -->
  {% include '_partials/header_main.html'%}

    <div class="main main-calendar">
      <div id="url-container" data-events-api="{{ events_api_url }}" data-competitions-api="{{ competitions_api_url }}" data-bookings-api="{{ bookings_api_url }}"></div>
      <div class="calendar-sidebar">
        <div id="calSidebar" class="sidebar-body">
          <div class="d-grid mb-3">
            <a id="btnCreateEvent" href="" class="btn btn-primary">Create New Event</a>
          </div>
          <div id="datepicker1" class="task-calendar mb-5"></div>

          <h5 class="section-title section-title-sm mb-4">My Calendar</h5>
          <nav class="nav nav-calendar mb-4">
            <a href="" class="nav-link other"><span></span>Regular Events</a>
            <a href="" class="nav-link holiday"><span></span> Competitions</a>
            
          </nav>
        </div><!-- sidebar-body -->
      </div><!-- calendar-sidebar -->
      <div id="calendar" class="calendar-body"></div>
    </div><!-- main -->

    <div class="modal modal-event fade" id="modalCreateEvent" tabindex="-1" aria-labelledby="modalLabelCreateEvent" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          {% load widget_tweaks %}
            <form method="POST" enctype="multipart/form-data"> 
              {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabelCreateEvent">Create New Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div><!-- modal-header -->
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Event Title:</label>
              {{ event_form.name|add_class:"form-control"|attr:"placeholder:Enter event title" }}
            </div>

            <div class="mb-3">
              <label class="form-label">Sport:</label>
              {{ event_form.sport|add_class:"form-select" }}
            </div>

            <div class="mb-3">
                <label class="form-label">Start Date / Time:</label>
                {{ event_form.start_date_time|add_class:"form-control" }}
            </div>

            <div class="mb-3">
                <label class="form-label">End Date / Time:</label>
                {{ event_form.end_date_time|add_class:"form-control" }}
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              {{ event_form.description|add_class:"form-control"|attr:"placeholder:What is this event about?"|attr:"rows:3" }}
            </div>
            <div class="mb-3">
              <label class="form-label">Location</label>
              {{ event_form.location|add_class:"form-control"|attr:"placeholder:Where will this event take place?" }}
            </div>
            {% include '_partials/messages.html'%}
          </div><!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
            <button type="submit" name="add_event" class="btn btn-primary">Add Event</button>
          </div><!-- modal-footer -->
        </form>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <!-- Event View Modal -->
    <div class="modal modal-event fade" id="modalEventView" tabindex="-1" aria-labelledby="modalLabelEventView" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabelEventView">Modal Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div><!-- modal-header -->
          <div class="modal-body">

            <div id="beasts" class="date-item beasts">
              <div class="people-item buddies">
                <div class="avatar">
                  <img id="participantAImg" src="../assets/img/img6.jpg" alt="" />
                </div>
                <div class="people-body">
                  <h6 id="participantAName">Participant A</h6>
                </div>
                <!-- people-body -->
              </div>
              <span
                class="d-block fw-medium text-dark ff-numerals"
                style="float: left"
                >vs</span
              >
              <div class="people-item buddies">
                <div class="avatar">
                  <img id="participantBImg" src="../assets/img/img6.jpg" alt="" />
                </div>
                <div class="people-body">
                  <h6 id="participantBName">Participant B</h6>
                </div>
                <!-- people-body -->
              </div>
            </div>
  
            <hr class="opacity-0">

            <div id="competition_score" class="date-item">
              <i class="ri-line-chart-line"></i>
              <div>Score: 
                <span id="AScore">0 </span>
                <span> : </span>
                <span id="BScore"> 0</span></div>
            </div><!-- score -->

            <div id="competition_status" class="date-item">
              <i class="ri-chat-forward-line"></i>
              <div>Status: <span id="status">Scheduled</span></div>
            </div><!-- status -->

            <hr id="spc_bar" class="opacity-0">

            <div class="date-item">
              <i class="ri-calendar-line"></i>
              <div>Start Date / Time: <span id="eventStart">September 30, 2023 12:30PM</span></div>
            </div><!-- date-item -->

            <div class="date-item">
              <i class="ri-calendar-line"></i>
              <div>End Date / Time: <span id="eventEnd">September 30, 2023 12:30PM</span></div>
            </div><!-- date-item -->

            <hr class="opacity-0">

            <div id="creatorofevent" class="date-item">
              <i class="ri-account-circle-line"></i>
              <div>Event Creator: <span id="eventCreator">John Brown</span></div>
            </div><!-- date-item -->

            <div id="interestedusers" class="date-item">
              <i class="ri-team-line"></i>
              <div>Users Interested: <span id="usersInterested">3</span></div>
            </div><!-- date-item -->

            <div class="date-item">
              <i class="ri-football-line"></i>
              <div>Sport: <span id="eventSport">Football</span></div>
            </div><!-- date-item -->

            <div class="date-item">
              <i class="ri-map-pin-line"></i>
              <div>Location: <span id="eventLocation">Somewhere</span></div>
            </div><!-- date-item -->

            <hr class="opacity-0">
            <label class="mb-2">Description:</label>
            <p id="eventDescription">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </p>
          </div><!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
          </div><!-- modal-footer -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

  </body>



{% endblock content %}