{% extends 'base.html' %} {% block content %} {% load static%}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{% static 'images/volleyball-solid.svg' %}"
/>
<body class="page-sign">
  {% if page == 'login' %}
  <!-- Login Page -->
  <div class="card card-sign">
    <div class="card-header">
      <div class="landing-header">
        <a id="menuSidebarOffset" href="" class="menu-link me-3"
          ><i class="fa-solid fa-volleyball"></i
        ></a>
        <a href="{% url 'home' %}" class="sidebar-logo">ucasports</a>
      </div>
      <br />
      <h3 class="card-title">Sign In</h3>
      <p class="card-text">Welcome back! Please signin to continue.</p>
    </div>
    <!-- card-header -->
    <form action="" method="POST" name="login_form">
      {% csrf_token %}
      <div class="card-body">
        {% for field in form %}
        <div class="mb-3">
          <label class="form-label"
            >{{field.label}}
            <span class="text-danger">*</span>
          </label>
          {{field}}
        </div>
        {% endfor %} {% include '_partials/messages.html'%}

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-sign">
            Sign In
          </button>
          <a class="btn btn-secondary" href="{% url 'password_reset_request' %}"
            >Forgot Password</a
          >
        </div>

        <!-- row -->
      </div>
    </form>
    <!-- card-body -->
    <div class="card-footer">
      Don't have an account?
      <a href="{% url 'register' %}">Create an Account</a>
    </div>
    <!-- card-footer -->
  </div>
  <!-- card -->

  {% else %}
  <!-- Register Page -->
  <div class="card card-sign">
    <div class="card-header">
      <div class="landing-header">
        <a id="menuSidebarOffset" href="" class="menu-link me-3"
          ><i class="fa-solid fa-volleyball"></i
        ></a>
        <a href="{% url 'home' %}" class="sidebar-logo">ucasports</a>
      </div>
      <br />
      <h3 class="card-title">Sign Up</h3>
      <p class="card-text">It's free to signup and only takes a minute.</p>
    </div>
    <!-- card-header -->
    <form action="" method="POST" name="register_form">
      {% csrf_token %}
      <div class="card-body">
        {% for field in form %}
        <div class="mb-3">
          <label class="form-label"
            >{{field.label}}
            <span class="text-danger">*</span>
          </label>
          {{field}}
        </div>
        {% endfor %}

        <div class="mb-4">
          <small
            >By clicking <strong>Create Account</strong> below, you agree to our
            terms of service and privacy statement.</small
          >
        </div>

        {% include '_partials/messages.html'%}

        <button type="submit" class="btn btn-primary btn-sign">
          Create Account
        </button>
      </div>
    </form>
    <!-- card-body -->
    <div class="card-footer">
      Already have an account? <a href="{% url 'login' %}">Sign In</a>
    </div>
    <!-- card-footer -->
  </div>
  <!-- card -->

  {% endif %}
</body>
{% endblock content %}
