{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{% static 'images/volleyball-solid.svg' %}"
/>
<body class="page-auth">
  <div class="header">
    <div class="container">
      <div class="landing-header">
        <a id="menuSidebarOffset" href="" class="menu-link me-3"
          ><i class="fa-solid fa-volleyball"></i
        ></a>
        <a href="{% url 'home' %}" class="sidebar-logo">ucasports</a>
      </div>
    </div>
    <!-- container -->
  </div>
  <!-- header -->

  <div class="content">
    <div class="container">
      <div class="card card-auth">
        <div class="card-body text-center">
          <div class="mb-5">
            <object
              type="image/svg+xml"
              data="{% static 'svg/forgot_password.svg' %}"
              class="w-50"
            ></object>
          </div>
          <h3 class="card-title">Reset your password</h3>
          <p class="card-text mb-5">
            Enter your username or email address and we will send you a link to
            reset your password.
          </p>

          <form action="" method="POST" name="resetp_form">
            {% csrf_token %}
            <div class="row g-2">
              <div class="col-sm-8">{{ form }}</div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Reset</button>
              </div>
              {% include '_partials/messages.html'%}
            </div>
          </form>
          <!-- row -->
        </div>
        <!-- card-body -->
      </div>
      <!-- card -->
    </div>
    <!-- container -->
  </div>
  <!-- content -->
</body>
{% endblock content %}
