{% extends 'base.html' %} {% block content %} {% load static%}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{% static 'images/volleyball-solid.svg' %}"
/>
<body class="page-sign">
  <!-- Set New Password -->
  <div class="card card-sign">
    <div class="card-header">
      <div class="landing-header">
        <a id="menuSidebarOffset" href="" class="menu-link me-3"
          ><i class="fa-solid fa-volleyball"></i
        ></a>
        <a href="{% url 'home' %}" class="sidebar-logo">ucasports</a>
      </div>
      <br />
      <h3 class="card-title">Password Reset</h3>
      <p class="card-text">Please set new password.</p>
    </div>
    <!-- card-header -->
    <form action="" method="POST" name="login_form">
      {% csrf_token %}
      <div class="card-body">
        {% for field in form %}
        <div class="mb-3">
          <label class="form-label"
            >{{field.label}}
            <span class="text-danger">*</span>
          </label>
          {{field}}
        </div>
        {% endfor %} {% include '_partials/messages.html'%}

        <button type="submit" class="btn btn-primary btn-sign">Submit</button>

        <!-- row -->
      </div>
    </form>
    <!-- card-body -->
    <div class="card-footer">
      Do you want to log in instead?
      <a href="{% url 'login' %}">Sign In</a>
    </div>
    <!-- card-footer -->
  </div>
  <!-- card -->
</body>
{% endblock content %}
